*{
    @import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');
}

body{
    background-color: #D9CCC9;
}

ul li{
    display: inline;
}

nav a{
    text-decoration: none;
    color: black;
    font-family: 'Rajdhani', sans-serif;
    justify-content: center
}

nav{
    display: flex;
    border: black 2px solid;
    border-radius: 35px;
    width: fit-content;
    margin: 0 auto;
}

nav a:hover{
    color: #D0A448;
}