@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    padding: 0 20px 20px 20px;
    width: auto;
    background-image: url(../../img/illustrations/gradiant.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    border: 2px solid red;
}

.software{
    width: 600px;
    display: block;
    margin: 150px auto;
    border-radius: 75px;
}

h1{
    text-align: center;
    color: #6e4d3a;
    font-size: 100px;
}

h2{
    color: #9a6c51;
    text-decoration:underline;
    text-align: center;
}

p{
    margin: 0 40px 0 40px;
    color: #36261c;
    text-align: justify;
}

ul, ol{
    text-align: center;
    list-style: none;
}

.contenu{
    border: 4px solid yellow;
}

.whoiam, .infoterms, .languages{
    border: 3px solid blue;
    margin: 50px 0 50px 0;
}

.divflag {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.drapeau{
    width: 150px;
    height: 100px;
    border-radius: 15px;
    opacity: 0.85;
    margin: 50px 0 50px 0;
}

.divinfo{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logoinfo{
    width: 120px;
    height: 130px;
}