@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    padding: 0 20px 20px 20px;
    width: auto;
    background-image: url(../../img/illustrations/gradiant.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}

.software{
    width: 600px;
    display: block;
    margin: 150px auto;
    border-radius: 75px;
}

h1{
    text-align: center;
    color: #6e4d3a;
    font-size: 100px;
}

h2{
    color: #9a6c51;
    text-decoration:underline;
    text-align: center;
}

p{
    margin: 40px 40px 40px 40px;
    color: #36261c;
    text-align: justify;
    padding: 0 100px 0 100px ;
}


.whoiam, .infoterms, .languages{
    margin: 350px 0 350px 0;
}

.divflag {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 200px 0 200px;
}

.drapeau{
    width: 150px;
    height: 100px;
    border-radius: 15px;
    opacity: 0.85;
    margin: 50px 0 50px 0;
}

.divinfo{
    justify-content: center;
    display: grid;
    grid-template-columns: 200px 200px 200px 150px;
    grid-template-rows: auto;
    column-gap: 10px;
    row-gap: 15px;
}


.logoinfo{
    width: 120px;
    height: 130px;
    margin: 50px 0 50px 0;
}
